<h2>Los Ciclos tecnologicos son</h2>
<div class="row">
    <div class="col">
        <h2>DAM</h2>
        
        <ul>
            <li *ngFor="let item of asignaturaFiltradaDam">{{item.nombre}}</li>
        </ul>
    </div>
    <div class="col">
        <h2>DAW</h2>
        
        <ul>
            <li *ngFor="let item of asignaturaFiltradaDaw">{{item.nombre}}</li>
        </ul>
    </div>

  
</div> 
 <div class="row">
        <div class="col" *ngFor="let item of ciclos"> 
            <div class="card" style="width: 18rem;">
            <img [src]="item.imagen" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{item.curso}}{{item.nombre}}</h5>
              <a class="nav-link" [routerLink]="['/detalleCiclos',item.curso,item.nombre]" routerLinkActive="router-link-active" class="btn btn-primary">Ver Detalle</a>
            </div>
          </div></div>
    
    </div>
